@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


:root {
  --rangoon-green: #090A08;
  --celery: #9cd161;
  --limeade: #427e04;
  --boulder: #7C7C7C;
  --button-text: #f9f9f9;
  --sunglo: #e8736d;
}

body {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  background: black;
  font-family: 'Roboto', sans-serif;
}

footer {
  text-align: center;
  margin-top: auto;
}

footer i {
  color: var(--limeade);
  transition: transform .1s ease-in-out;
}

footer i:hover {
  transform: scale(1.2);
}

#calculatorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(192, 192, 192);
  border: 2px solid black;
  border-radius: 8px;
  padding: 20px;
  width: 90%;
  max-width: 350px;
  margin: 0 auto;
  gap: 15px;
  background: #010101;
}

.display {
  border: 2px solid black;
  border-radius: 8px;
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  text-align: right;
  word-wrap: break-word;
  word-break: break-all;
  background: black;
  color: white;
}

#mainDisplayText {
  padding-right: 15px;
  font-size: 40px;
}

#subDisplayText {
  padding-right: 15px;
  font-size: 32px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;  
  gap: 10px;
}


.btn {
  border: 2px solid #2d2d2d;
  background: #171717;
  color: var(--button-text);
  border-radius: 50%;
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 28px;
  padding: 0;
  
  transition: font-size .1s ease-out,
  filter .1s ease-in-out;
}

.btn:hover {
  filter: brightness(150%);
}

.btn:active {
  filter: brightness(200%);
  font-size: 20px;
}


.clear {
  color: var(--sunglo);
}
.delete {
  font-size: 20px;
}

.delete:active {
  font-size: 16px;
}

.func {
  color: var(--celery);
}

.equal {
  background: var(--limeade);
  color: white;
  border: none;
}