body {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
}

footer {
  text-align: center;
  margin-top: auto;
}

footer i {
  color: black;
  transition: transform .1s ease-in-out;
}

footer i:hover {
  transform: scale(1.1);
}

h1 {
  text-align: center;
}

#calculatorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(192, 192, 192);
  border: 2px solid black;
  border-radius: 8px;
  padding: 20px;
  width: 90%;
  max-width: 350px;
  margin: 0 auto;
  gap: 15px;
}

.display {
  border: 2px solid black;
  border-radius: 8px;
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  background: rgb(238, 238, 238);
  text-align: right;
  word-wrap: break-word;
  word-break: break-all;
}

#mainDisplayText {
  padding-right: 15px;
  font-size: 40px;
}

#subDisplayText {
  padding-right: 15px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;  
  gap: 10px;
}


.btn {
  border: 2px solid black;
  border-radius: 4px;
  width: 75px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgb(238,238,238);
  font-size: 20px;
  padding: 0;
}

.btn:hover {
  filter: brightness(90%);
}

.btn:active {
  filter: brightness(80%);
}


.clear {
  background-color: rgb(255,170,170);
}
.delete {
  background-color: rgb(170,170,255);
}
