body {
  font-size: 18px;
}
h1 {
  text-align: center;
}

#calculatorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(192, 192, 192);
  border: 2px solid black;
  border-radius: 8px;
  padding: 20px;
  width: 90%;
  max-width: 350px;
  margin: 0 auto;
  gap: 15px;
}

.display {
  border: 2px solid black;
  border-radius: 8px;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background: rgb(238, 238, 238);
}

.displayText {
  display: inline-block;
  padding-right: 15px;
  padding-bottom: 15px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;  
  gap: 10px;
}


.btn {
  border: 2px solid black;
  border-radius: 4px;
  width: 75px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgb(238,238,238);
}

.btn:hover {
  filter: brightness(90%);
}

.btn:active {
  filter: brightness(80%);
}

.clear, .delete {
  flex-grow: 1;
}

.clear {
  background-color: rgb(255,170,170);
}
.delete {
  background-color: rgb(170,170,255);
}
